$font-family: "Poppins", sans-serif;

$white: #fff;
$black: #000000;
$yellow: #ffb703;
$blue: #023047;
$green: #21afbc;
$orange: #ff850e;
$greyd5: #dcd9d5;
$greyf2: #f2f2f2;
$greyf4: #f2f4f4;
$grey4e: #4e4e4e;
$graylightbdr:#d5e0eb;
$gray:#837e85;
$tagColor:#19b100;

$mpl: 10px;

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extra-bold: 800;

$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;
$xxl: 1440px;
$xxxl: 1600px;
$xxxxl: 1800px;
